*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-container{
  height: 60px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}